# Служебная папка VS Code
.vscode/

# Файлы, создаваемые Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Файлы macOS (на всякий случай, если вдруг я буду работать на Mac)
.DS_Store

# Node modules (если буду использовать npm в будущем)
node_modules/

# Логи
*.log

# Игнорируем файл с конфиденциальными данными
.env

# Игнорируем виртуальное окружение
../.venv/

# Игнорируем временные файлы Python
*.pyc
*.pyo
__pycache__/
